<!DOCTYPE html>
{% extends "home/base.html" %}

{% block body_block %}
<div class="container-fluid homepage-box">
    <h2>Please Login</h2>
    <h3>{{ login_alert }}</h3> 
    <h3>{{ register_alert }}</h3>
    <form action="{% url 'home:user_login' %}" method="POST">
        {% csrf_token %}
        <label for="username">Username: </label>
        <input type="text" name="username" placeholder="Enter Your Username"><br><br>
        <label for="password">Password: </label>
        <input type="password" name="password"  placeholder="Enter Your password"><br><br>
        <input type="submit" class="btn btn-outline-info" value="Login">
    </form>
</div>

{% endblock %}